.button {
    height: 3.5rem;
    padding: 0rem 5.625rem;
    border-radius: 3.75rem;
    font-family: inherit;
    font-size: 0.9375rem;
    font-weight: 600;
    letter-spacing: 0.015rem;
    cursor: pointer;
}

.blue {
    background-color: #B6FBFF;
}

.white {
    background-color: #FFFFFF;
}

.black {
    background-color: black;
    color : #FFFFFF;
    border-color : #FFFFFF;
}
