.ChatPageBody {
    height:100%;
    max-height:100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
}

.chatpage__section1 {
    width: 50%;
    height: 100vh;
    background-color: #121212;
    display: flex;
    flex-direction: column;
}

.chatpage__section1_backbutton {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    font-size: 1.2rem;
    color: #B6FBFF;
    margin: 2.5rem 0rem 0rem 5.5rem;
    align-self: left;
}

.chatpage__section1_arrow {
    width: 28px;
    margin-right: 0.6rem;
}

.chatpage__section1_title {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    line-height: 4.1875rem;
    margin-top: 170px;
}

.chatpage__section1_description {
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    margin-top: 1rem;
    padding:0 4.5rem;
    line-height: 1.4375rem; /* 115% */
    letter-spacing: 0.045rem;
}

.chatpage__section2 {
    width: 50%;
    display:flex;
    flex-direction: column;
}

.chatpage__section2_logo {
    margin-top: 24px;
    margin-left: 28px;
    width: 7.81544rem;
    height: 5%;
}

.chatpage_chat_screen {
    padding: 2rem 4rem;
    height: 95%;
    display:flex;
    flex-direction: column-reverse;
}

.chatpage__input_field {
    height: 2.8rem;
    border-radius: 100px;
    border: 1.2px solid #B6FBFF;
    background: rgba(255, 255, 255, 0.16);
    display: flex;
    align-items: center;
    padding-top: 0.8rem;
}

.chatpage__input_field>textarea{
    background: rgba(255, 255, 255, 0.00);
    height: 100%;
    border:none;
    font-size:1rem;
    color: white;
    resize:none;
    padding-left: 1.2rem;
    padding-right: 1rem;
    width: 100%;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    margin-bottom:0.3rem;
}

.chatpage__input_field>textarea::-webkit-scrollbar{
    width:0%
}

.chatpage__input_field>textarea:focus {
    outline:none;
}

.chatpage__send_button {
    height: 90%;
    margin-right: 0.4rem;
    cursor: pointer;
    margin-top: -0.8rem;
}

.chatpage__message_container {
    display:flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
}

.chatpage__message_container::-webkit-scrollbar{
    width:0;
}

@media(max-width:750px){
    .ChatPageBody {
        flex-direction: column;
    }
    .chatpage__section1_backbutton {
        font-size: 0.8;
        margin-left:2px;
        margin-top: 16px;
    }
    .chatpage__section1 {
        width: 100%;
        height: 20vh;
    }
    .chatpage__section1_title {
        width:50%;
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        line-height: 2.5rem;
        margin:auto;
        margin-top: -20px;
    }
    .chatpage__section1_description {
        font-size: 1rem;
    }
    .chatpage__section2 {
        width: 100%;
    }
    .chatpage__section2_logo {
        margin:auto;
        margin-top:10px;
    }
    .chatpage_chat_screen {
        height: 80vh;
        padding-bottom: 44px;
    }
}