header {
    display: flex;
    align-items: center;
}

.main_page__logo {
    width: 7.81544rem;
    margin: auto;
    margin-top: 2.69rem;
    margin-bottom: 4rem;
}

.section1 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section1__heading {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    line-height: 4.1875rem;
}

code {
    font-family: inherit;
    color:#B6FBFF;
}

.section1__description {
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    width: 500px;
    margin-top: 1rem;
    line-height: 1.4375rem; /* 115% */
    letter-spacing: 0.045rem;
}

.section1__button {
    margin-top: 3rem;
}

.section2 {
    padding-left: 8.25rem;
    padding-top: 2rem;
}

.section2__heading {
    font-size: 2.75rem;
    font-weight: 700;
    text-align: left;
    line-height: 4.18rem;
}

.section2__description {
    color: rgba(255, 255, 255, 0.70);
    text-align: left;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    width: 500px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.4375rem; /* 115% */
    letter-spacing: 0.045rem;
}

.section2__link {
    text-decoration: none;
    font-size: 0.9rem;
    display: block;
    color: #B6FBFF;
    margin-bottom: 2rem;
}

.section2__link_vector {
    margin-left: 0.5rem;
}

.section2__chat_img {
    display:block;
    margin:auto;
    width: 800px;
    margin-left:0px
}

.section3{
    margin-top: 161.94px;
    display: flex;
    flex-direction:row;
    align-content: center;
    border-top:1px solid #303030;
    border-bottom:1px solid #303030;
}
.section3__leftside {
    width: 50%;
    height: 700px;
    border-right:1px solid #303030;
    padding-top: 40px;
    padding-left: 8.25rem;
}

.section3__leftside_heading {
    font-size: 2.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3rem;
    margin-bottom: 1rem;
}

.section3__leftside_description {
    font-size: 1rem;
    margin-right: 2rem;
    line-height: 1.5rem;
}

.section3__button { 
    margin-top: 1rem;
    padding: 0rem 2rem !important;
}

.section3__rectangle {
    margin-top: 25px;
    width: 460px;
    height: 360px;
    border-radius: 20px;
    background: #212121;
}

.section3__rightside {
    width: 50%;
    height:700px;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 60px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(2, 45%);
    grid-column-gap: 0px;
    grid-row-gap: 5px;
    overflow-y: scroll;
}
.section3__rightside::-webkit-scrollbar {
    width: 0
}

.section3__topic_item {
    height: 230px;
    width: 220px;
}

.section3__topic_description{
    display:block;
    margin-top:0.5rem;
    font-size: 0.9rem;
}

.section3__topic_item_img {
    height: 180px;
    width: 200px;
    object-fit: cover;
}

.section4 {
    padding-top: 5rem;
}

.section4__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 60px;
}

.section4__heading {
    font-size: 2.75rem;
    font-weight: 700;
    text-align: center;
    line-height: 4.1875rem;
}

.section4__button {
    margin:auto;
    margin-top: 2rem;
    padding: 0rem 2rem !important;
}

footer {
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 60px;
}

.mainpage__footer_part1 {
    display: flex;
    flex-direction: row;
}

.mainpage__footer_contact_us{
    width: 50%;
    margin-right: 20px;
}

.mainpage__footer_information {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
}

.mainpage__footer_part2 {
    padding: 3rem 0rem;
    display: flex;
    flex-direction: row;
}

.mainpage__footer_part2_logo_container {
    width: 50%;
}

.mainpage__footer_part2_logo {
    width: 7.81544rem;
}

.mainpage__footer_part2_social_media {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content: center;
}

.mainpage__footer_part2_social_media>div{
    width: 32%;
    text-align: left;
}

.mainpage__footer_button {
    padding:0rem 2rem !important;
}

.mainpage__footer_information_text {
    color: rgba(255, 255, 255, 0.70);
    text-align: left;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    width: 500px;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    line-height: 1.4375rem; /* 115% */
    letter-spacing: 0.045rem;
}

.mainpage__footer_information_title {
    color: #FFF;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
}
