* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    height: 100%;
    width: 100%;
    background: #020202;
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
body::-webkit-scrollbar {
    width: 0
}

